/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */


/** FONTS **/

@import url('https://use.typekit.net/ich0fbq.css');

@font-face {
  font-family: "Antikvarika";
  src: url("/static/fonts/lxio5etr.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Italiana";
  src: url("/static/fonts/Italiana-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dancing Script";
  src: url("/static/fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PF Square Sans Pro";
  src: url("/static/fonts/pf\ square\ sans\ pro.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Carlito";
  src: url("/static/fonts/Carlito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Avara_Bold";
  src: url("/static/fonts/Avara-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avara_Bold Italic";
  src: url("/static/fonts/Avara-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avara_Black";
  src: url("/static/fonts/Avara-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'vtf_victoriannaitalic';
  src:  url('/static/fonts/vtf_victorianna_thin_talic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'vtf_victoriannathin';
  src: url('/static/fonts/vtf_victorianna_thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cigra-FREEDEMO';
  src: url('/static/fonts/Cigra Free Demo.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Astonia';
  src: url('/static/fonts/Astonia.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


@font-face {
  font-family: 'cantiquenormal';
  src: url('/static/fonts/Cantique-Normal.woff2') format('woff2'),
       url('/static/fonts/Cantique-Normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roseritta';
  src: url('/static/fonts/Roseritta.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'bluu_nexttitling';
  src: url('/static/fonts/BluuNext-Titling.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'bluu';
  src: url('/static/fonts/bluunext-bold.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Glitten';
  src: url('/static/fonts/Glitten-Regular.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GwenText-Trial-Light';
  src: url('/static/fonts/GwenText-Trial-Light.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GwenText-Trial-SemiBold';
  src: url('/static/fonts/GwenText-Trial-SemiBold.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Matiott';
  src: url('/static/fonts/MATIOTT\ ELEGANT\ FONT.ttf') format('truetype'); 
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}




/** MAIN **/

:root {
  --ifm-color-primary: #FA36C3;
  --ifm-color-primary-dark: #f918ba;
  --ifm-color-primary-darker: #f90ab6;
  --ifm-color-primary-darkest: #d00597;
  --ifm-color-primary-light: #fb54cc;
  --ifm-color-primary-lighter: #fb62d0;
  --ifm-color-primary-lightest: #fc8fde;
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 110%;
  --ifm-font-family-base: roboto, sans-serif;
  --ifm-font-family-monospace: roboto-mono, monospace;
  --ifm-spacing-horizontal: 1.6rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FA36C3;
  --ifm-color-primary-dark: #f918ba;
  --ifm-color-primary-darker: #f90ab6;
  --ifm-color-primary-darkest: #d00597;
  --ifm-color-primary-light: #fb54cc;
  --ifm-color-primary-lighter: #fb62d0;
  --ifm-color-primary-lightest: #fc8fde;
  --ifm-font-color-base: #ddd;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.hero {
  background-color: var(--ifm-background-color);
  --ifm-hero-text-color: var(--ifm-color-primary);
}

.hero__subtitle {
  font-family: novecento-sans, sans-serif;
  color: white;
  font-size: 2.5em;
}

.hero__title {
  font-family: masqualero-stencil, sans-serif;
  font-weight: 400;
  font-size: 5.2em;
}


@media screen and (max-width: 996px) {
  .heroBanner_src-pages-index-module {
    padding: 1.5rem;
  }

  .hero__title {
    font-size: 4.5em;
  }

  .hero__subtitle {
    font-size: 2em;
  }
}



.footer {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 400;
  font-size: 0.85rem;
  background-color: var(--ifm-background-color);
  border-top: 1px solid var(--ifm-color-emphasis-300);
}



.container {
  padding-top:0px;
}

.markdown h1:first-child{
  font-family: "bluu", sans-serif;
  font-size: 3.4rem;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}

.markdown h1:first-child::first-letter{
  font-family: "bluu";
}


.img-up {
  margin-bottom: -7px;
  border: 0;
  width: 100%;
  height: auto;
}

.img-down {
  margin-top: -7px;
  margin-bottom: 1rem;
  border: 0;
  width: 100%;
  height: auto;
}

.header {
  margin: 0px;
  padding: 0px;
}


@media screen and (max-width: 996px) {
  .markdown h1:first-child{
    font-size: 1.8rem;
  }
}


h1, h2, h3, h4, h5, h6 {
  font-family: forma-djr-deck, sans-serif;
  letter-spacing: 2px;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-family: novecento-sans, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.table-of-contents, .menu__link {
  font-family: forma-djr-deck, sans-serif;
  letter-spacing: 1px;
} 

p {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 400;
  font-size: 1.07rem;
  text-rendering: optimizeLegibility;
}

.admonition-content p {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 400;
  font-size: 0.9rem;
  text-rendering: optimizeLegibility;
}

.markdown ul {
  font-family: var(--ifm-font-family-monospace);
  font-weight: 400;
  font-size: 1.07rem;
  text-rendering: optimizeLegibility;
}


.table-of-contents {
  font-size: 85%;
}


.navbar {
  background-color: var(--ifm-background-color);
}
.navbar__title {
  font-family: masqualero-stencil, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 170%;
}

.hero .button {
  font-family: 'bluu', sans-serif;
  font-size: 140%;
  border-radius: 2px;
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

blockquote p {
  color: var(--ifm-color-primary-lightest);
  font-family: forma-djr-deck, sans-serif;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

blockquote {
  border-color: var(--ifm-color-primary-lightest);
}

.zine-index
{
  padding-top: 1rem;
  display: block;
  text-align: center;
}
.zine-index a {
  font-family: forma-djr-deck, sans-serif;
  letter-spacing: 1px;
  font-size: 2.4rem;
  color: var(--ifm-font-color-base);
  text-decoration: underline;
}

@media screen and (max-width: 996px) {
  .zine-index a {
    font-size: 2rem;
  }
}


.doc-subtitle {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: forma-djr-deck, sans-serif;
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

.min-dystopia {
  font-style: italic;
  display: block;
  text-align: center;
}

@media screen and (max-width: 996px) {
.doc-subtitle {
  font-size: 1rem;
}
}

.poem {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "vtf_victoriannathin", sans-serif;
  letter-spacing: 1px;
  display: block;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .poem {
    font-size: 1.2rem;
  }
}

.markdown code {
  background-color: rgb(32, 32, 33);
  color: var(--ifm-color-primary-lightest);
}

iframe {
  position:relative;
  top:0;
  left:0;
  padding-bottom: 0rem;
}

.video-embed {
  width: 933px;
  height: 524.8px;
}

@media screen and (max-width: 933px) {
  .video-embed {
    width: 357px;
    height: 236.25px;
  }
}
.pad-bottom {
  padding-bottom: 1rem;
}

.center{
  text-align: center;

}

.center p{
  margin-bottom: 0.5rem;
}
.caption{
  display: block;
  text-align: center;
  font-family: var(--ifm-font-family-monospace);
  font-weight: 400;
  font-size: 0.9rem;
  text-rendering: optimizeLegibility;
}